section:has(.slider) {
	position: relative;
	gap: 0.5rem;
	padding-top: 4rem;

	* {
		user-select: none;
	}

	&::after {
		content: "";
		position: absolute;
		top: 9rem;
		right: calc(50% - 28.5rem);
		min-width: 57rem;
		min-height: 20rem;
		background: linear-gradient(
			90deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 255, 255, 0) 20%,
			rgba(255, 255, 255, 0) 80%,
			rgba(255, 255, 255, 1) 100%
		);
		pointer-events: none;
	}

	.slider {
		flex-direction: row;
		overflow-x: scroll;
		max-width: 57rem;
		gap: 2rem;
		margin-bottom: 4rem;
		padding: 2rem 7rem 1rem;

		* {
			user-select: none;
		}

		article {
			max-width: 14rem;
		}
	}
}

section:has(.product-grid) {
	padding: 4rem 8rem;
	gap: 2rem;

	* {
		user-select: none;
	}

	.product-grid {
		display: grid;
		width: 100%;
		grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
		gap: 2rem;
	}
}

.landing {
	position: relative;
	height: calc(100vh - 6.5rem);

	img {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	h1,
	h6,
	p {
		position: absolute;
		width: 35%;
	}

	h1 {
		top: 16rem;
	}

	h6 {
		top: 18rem;
	}

	p {
		top: 20rem;
	}

	&.dark {
		* {
			color: var(--white);
		}
	}

	&.light {
		* {
			color: var(--contrast);
		}
	}

	&.left {
		h1,
		h6,
		p {
			left: 8rem;
		}
	}

	&.right {
		h1,
		h6,
		p {
			right: 8rem;
			text-align: right;
		}
	}
}

input[type="search"] {
	width: 100%;
	max-width: 24rem;
	line-height: 2.5rem;
	padding: 0 0.75rem;
	box-shadow: 0 0 0 0 var(--accent), inset 0 0 0 0 var(--accent);
	border-radius: 0.25rem;
	align-self: flex-start;
	background: var(--contrast--050);

	&:focus {
		box-shadow: 0 0 0 1px var(--accent), inset 0 0 0 1px var(--accent);
	}

	&::placeholder {
		color: var(--contrast--300);
	}
}
