div:has(> label + input) {
	width: 100%;

	label:has(+ input[required]) {
		&::before {
			content: "* ";
			color: var(--accent);
		}
	}

	input {
		box-shadow: inset 0 0 0 1px var(--contrast--050);
		line-height: 2rem;
		padding: 0.25rem 0.5rem;
		border-radius: 0.5rem;

		&::placeholder {
			color: var(--contrast);
			opacity: 0.25;
		}
	}
}
