.landing-banner {
	min-height: calc(100vh - 6rem);
	position: relative;
	transform: rotate3d(1, 0, 0, 0deg);
	overflow: hidden;
	background: linear-gradient(var(--contrast--200) 0%, var(--white) 100%);

	> div:first-child {
		position: absolute;
		width: 460px;
		height: 640px;
		scale: 0.4;
		top: -6rem;
		transform-style: preserve-3d;
		transform: perspective(3000px) rotateX(-15deg) rotateY(0deg);
		animation: autoRun 20s linear infinite;
		will-change: transform;

		* {
			user-select: none;
		}

		div {
			position: absolute;
			inset: 0 0 0 0;
			transform: rotateY(
					calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
				)
				translateZ(1200px);
			box-shadow: 0 0 0 4px #363552;
			border-radius: 28px;
			cursor: pointer;
			transform-style: preserve-3d;
			background-clip: border-box;
			will-change: transform;

			img {
				backface-visibility: hidden;
			}

			img:last-child {
				position: absolute;
				transform: rotateX(180deg) rotateZ(180deg);
				will-change: transform;
			}

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					60deg,
					rgba(255, 255, 255, 0) 60%,
					rgba(255, 255, 255, 0.5) 65%,
					rgba(255, 255, 255, 0) 70%
				);
				opacity: 0;
			}

			&:hover {
				box-shadow: 0 0 0 5px transparent, 0 0 0 10px var(--accent),
					0 0 0 11px transparent;
				transform: rotateY(
						calc((var(--position) - 1) * (360deg / var(--quantity)))
					)
					translateZ(1200px) translateY(-4rem) scale(1.1);

				&::after {
					opacity: 1;
				}

				&:active {
					scale: 1.07;
				}
			}
		}

		&:has(div:hover) {
			animation-play-state: paused;

			div:not(:hover) img {
				filter: grayscale(0.75) blur(2px);
			}
		}
	}

	> div:last-child {
		user-select: none;
		align-items: center;
		pointer-events: none;

		div {
			position: absolute;
			bottom: 0;
			width: 200%;
			height: 100%;
			align-items: center;
			scale: 0.88;
			transform-origin: bottom;

			img:first-child {
				padding-top: 2rem;
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: bottom;
			}

			img:last-child {
				position: absolute;
				bottom: 5rem;
				width: 50%;
				height: 25%;
				object-fit: scale-down;
				object-position: bottom;
				z-index: 1;
			}

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					rgba(255, 255, 255, 0) 0%,
					rgba(255, 255, 255, 0) 50%,
					rgba(255, 255, 255, 1) 90%
				);
			}
		}
	}
}

@keyframes autoRun {
	from {
		transform: perspective(3000px) rotateX(-15deg) rotateY(0deg);
	}
	to {
		transform: perspective(3000px) rotateX(-15deg) rotateY(360deg);
	}
}
