section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.categories {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2rem;
	padding: 4rem 0;
	padding-right: 3rem;
	width: 48rem;
	overflow-x: scroll;
	border-radius: 0.25rem;
}

.summary {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 8rem 4rem;

	* {
		text-align: center;
		user-select: none;
	}

	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		padding: 4rem;
	}

	img {
		width: 245px;
		height: 367px;
		transform: scale(1.5);
	}
	[alt="1"] {
		transform-origin: right;
	}
	[alt="2"] {
		transform-origin: left;
	}
}

.catalogue {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
	gap: 2rem;
	padding: 4rem;

	* {
		user-select: none;
	}
}
