footer {
	background: var(--lipstick);
	min-height: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-self: self-end;
	max-width: calc(100vw - 1rem);
	min-width: calc(100vw - 1rem);
	position: relative;

	* {
		user-select: none;
	}

	> img {
		max-width: 267px;
		max-height: 377px;
		position: absolute;
		right: 2rem;
		bottom: 0;
		z-index: -1;
	}

	nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0 8rem;
		height: 6rem;

		div {
			flex-direction: row;
			gap: 1rem;
		}
	}

	a {
		display: flex;
		text-decoration: none;
		border-radius: 0.25rem;
		padding: 0.5rem;
		font-weight: 600;

		&:visited {
			color: var(--white);
		}

		&:hover {
			color: var(--contrast);
			box-shadow: 0 4px 0 0 var(--lipstick--500);
			background: var(--contrast--050);
			transform: translateY(-0.25rem);

			> img {
				filter: brightness(1);
				transform: rotate(345deg);
			}
		}

		&:has(> img) {
			padding: 0.5rem;
			border-radius: 100%;
		}

		img {
			filter: brightness(0) invert(1);
		}
	}
}
