footer {
	background: var(--lipstick--900);
	min-height: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-self: self-end;
	max-width: calc(100vw - 1rem);
	min-width: calc(100vw - 1rem);
	position: relative;

	* {
		user-select: none;
	}

	> img {
		position: absolute;
		right: 5rem;
		bottom: 6.625rem;
		z-index: -1;
		transform: scale(0.55);
		transform-origin: right bottom;
		pointer-events: none;
	}

	nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0 8rem;
		height: 6rem;

		div {
			flex-direction: row;
			gap: 1rem;
		}
	}

	a {
		display: flex;
		text-decoration: none;
		border-radius: 0.25rem;
		padding: 0.5rem;
		font-weight: 600;

		&:visited {
			color: var(--white);
		}

		&:hover {
			color: var(--contrast);
			box-shadow: 0 4px 0 0 var(--lipstick--500);
			background: var(--contrast--050);
			transform: translateY(-0.25rem);

			> img {
				filter: brightness(1);
				transform: rotate(345deg);
			}
		}

		&:has(> img) {
			padding: 0.5rem;
			border-radius: 100%;
		}

		img {
			filter: brightness(0) invert(1);
		}
	}

	p {
		width: 100%;
		background: var(--lipstick);
		text-align: center;
		color: var(--white);
		font-size: 0.75rem;
		line-height: 3rem;
	}

	> div:last-child {
		background: var(--lipstick);
		flex-direction: row;
		justify-content: center;
		padding: 1rem 0;
		color: var(--white);
		gap: 1rem;
		font-size: 0.75rem;

		img {
			max-width: 195px;
			max-height: 26px;
		}
	}
}
