footer {
	background: var(--accent);
	min-height: 16rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}

footer * {
	color: var(--white);
	user-select: none;
}

footer > div {
	flex-direction: row;
	gap: 1rem;
	padding: 2rem 8rem 0;
}

footer div ul {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

footer div ul h6 {
	margin-bottom: 1rem;
}

footer div ul li {
	font-size: 0.75rem;
	flex: 1;
}

footer p {
	padding: 0 8rem;
}

footer nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 8rem;
	height: 6rem;
	background: var(--lipstick);
}

footer nav div {
	flex-direction: row;
	gap: 1rem;
}

footer a {
	display: flex;
	text-decoration: none;
	border-radius: 0.25rem;
	padding: 0.5rem;
	font-weight: 600;
}

footer a:hover {
	color: var(--contrast);
	box-shadow: 0 4px 0 0 var(--lipstick--500);
	background: var(--contrast--050);
	transform: translateY(-0.25rem);
}

footer a:has(> img) {
	padding: 0.5rem;
	border-radius: 100%;
}

footer a img {
	filter: brightness(0) invert(1);
}

footer a:hover > img {
	filter: brightness(1);
	transform: rotate(345deg);
}
